.iot-hub{
    padding: 40px 0 35px 0;
    h2{
        margin-bottom: 20px;
    }
    .article-box-2.pb-20px{
        padding-bottom: 20px;
    }
    .view-more-articles{
        margin-top: 50px;
    }
}