body {
  background-color: black;
}

table {
  background-color: black;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: cyan;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
}

thead {
  color: #ccc;
  background-color: #2e2e2e;
}