.footer{
    background: $blackBg;
    padding: 35px 0 25px 30px;
    .logo{
        margin-bottom: 25px;
        img{
            width: 130px;
        }
    }
    .contact{
        .address, .phone{
            margin-bottom: 20px;
            
        }

        .contact-icn{
            width: 15px;
                margin: 0 15px;
            
        }
    }
    .social-network{
        a:first-child{
            margin-right: 25px;
        }
    }
}

.copyright{
    background: $white;
    padding-top: 20px;
}

// laptop
@media only screen and (min-width: 575.98px) {
    .footer{ 
        background: $blackBg2;
        ul {
            li{
                list-style: none;
            }
        }
        h4{
            @include font-Geomanist-Medium(25px);
            line-height: 1.6;
        }
        .menu {
            @include font-Geomanist-Light(20px) ;
            line-height: 1.6;
            ul li a {
                color: $white;
                transition: all 0.5s;
                &:hover{
                    color: $aqua-link;
                }
            }
        }
        .logo{ 
            img{
                width: auto;
            }
        }
        .contact{
            @include font-Geomanist-Light(20px) ; 
            .contact-icn{
                display: none;
                
            }
        } 
    }
    
    .copyright{
        background: $black;
        color: $white;
        @include font-Geomanist-Light(20px) ; 
        padding: 20px 0; 
        p{
            margin-bottom: 0;
        }
    }
}