.header {
  .nav-head {
    .navbar-toggler-icon {
      background: none;
    }
    box-shadow: 1px 1px 1px 1px $shadow;
  }

  .navbar {
    @include font-Geomanist-Book(25px);
    .nav-item {
      a {
        color: $black;
      }
      &.active {
        a {
          color: $active-link;
        }
      }
      .dropdown-toggle::after {
        background-image: url(../images/mobile/icons/icn-arrow-down.png);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
      }
    }
    .dropdown-menu {
      @include font-Geomanist-Medium(16px);
      text-transform: uppercase;
    }
  }
  .search-mobile {
    position: relative;
    > input {
      border: none;
      border-radius: 0;
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px solid $active-link;
    }
    button {
      position: absolute;
      right: 10px;
      top: -5px;
      background: transparent;
      padding: 0;
      margin: 0;
    }
  }
}
// laptop
@media only screen and (min-width: 992px) {
  .header {
    .nav-head {
      .navbar-toggler-icon {
        background: none;
      }
      box-shadow: none;
    }

    .navbar {
      @include font-Geomanist-Medium(16.48px);
      line-height: 1.6;
      .nav-item {
        a {
          color: $black;

        }
        &.active {
          a {
            color: $black;
          }
        }
        
      }
      .dropdown-item{
        &:hover{
          color: $teach-series-blue;
        }
        &:active{
          background: transparent;
          color: $teach-series-blue;
        }
      }
    }
    .search-mobile {
      display: none;
    }

    .navbar-laptop{
      @include font-Geomanist-Medium(16.48px);
      line-height: 1.6;
      text-transform: uppercase;
      .nav-item{
        margin-right: 45px;

        &:nth-child(2){
          margin-right: 35px;
        }
        &::nth-child(3){
          margin-right: 30px;
        }
        
      
      }
    }
  }
}
// fixed header style
.fixed-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}