 
@media only screen and (min-width: 992px){
    .main-article{
        margin: 55px 0 60px;
        .article-box{
            .article-brief-info{
                margin-bottom: 15px;
                
               time, .view, .comments, .share{
                font-size: 19px;
                color: $sub-grey-text;
               }
               time{
                color: $black;
            }
            }
            .article-detail{
                p{
                    font-size: 19px;
                    color: $article-text;
                }
                .img-box{
                margin: 40px 0 35px;
                }

            }
        }
    }
}